# Objects.
.scons-cache/
*.os
*.vs

# Solutions
NativeExtensionTemplate-build/
GDExtensionTemplate-build/
UnityExtensionTemplate-build/
UnrealExtensionTemplate-build/

build_godot_linux_amd64/
reference
src/ffmpeg/
src/ffmpeg*/
example/Godot/addons/videoplayer/lib/Linux-AMD64/*.so
example/Godot/addons/videoplayer/lib/Windows-AMD64/*.dll

src/lib/ffmpeg.zip
src/lib/ffmpeg.tar.xz
src/lib/ffmpeg-linux64/
src/lib/ffmpeg-win64/
src/platform.txt

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

vs/
x64/
bin/
libs/
VideoPlayer.dir/

# Extension
src/unity-native/
FFmpeg/
godot-cpp/

# Editors
.vscode/
.idea
/SDL-main